.houseGreen { position: absolute; left: 60%; bottom: 15%; width: 15vw; height: auto; }
.houseYellow { position: absolute; left: 21.5%; bottom: 85%; width: 15vw; height: auto; }
.houseBlue { position: absolute; left: 21.5%; bottom: 15%; width: 15vw; height: auto; }
.houseRed { position: absolute; left: 3.5%; bottom: 45%; width: 15vw; height: auto; }
.houseOrange { position: absolute; left: 80%; bottom: 25%; width: 15vw; height: auto; }
.housePurple { position: absolute; left: 3.5%; bottom: 55.5%; width: 15vw; height: auto; }
.houseBlack { position: absolute; left: 80%; bottom: 50%; width: 15vw; height: auto; }
.houseDarkGreen { position: absolute; left: 23.5%; bottom: 50%; width: 15vw; height: auto; }
.houseDarkBlue { position: absolute; left: 80%; bottom: 86%; width: 15vw; height: auto; }
.housePink { position: absolute; left: 80%; bottom: 75%; width: 15vw; height: auto; }

#planeGreen1 { visibility: hidden; width: 10vw; height: auto; }
#planeYellow1 { visibility: hidden; width: 10vw; height: auto; }
#planeBlue1 { visibility: hidden; width: 10vw; height: auto; }
#planeRed1 { visibility: hidden; width: 6vw; height: auto; }
#planePurple1 { visibility: hidden; width: 6vw; height: auto; }
#planePink1 { visibility: hidden; width: 6vw; height: auto; }
#planeBlack1 { visibility: hidden; width: 6vw; height: auto; }
#planeOrange { visibility: hidden; width: 6vw; height: auto; }
#planeDarkGreen { visibility: hidden; width: 6vw; height: auto; }
#planeDarkBlue1 { visibility: hidden; width: 6vw; height: auto; }

#arrowBtn {left: 44%;bottom: 37%;}
#arrowBtn2 {left: 44%;bottom: 50%;}
#arrowBtn3 {left: 44%;bottom: 61%;}
#arrowBtn4 {left: 52.5%;bottom: 75%;}
#arrowBtn5 {left: 62%;bottom: 61%;}
#arrowBtn6 {left: 62%;bottom: 50%;}
#arrowBtn7 {left: 62%;bottom: 39%;}
#arrowBtn8 {left: 24.5%;bottom: 72%;}
#arrowBtn9 {left: 24.5%;bottom: 30%;}

#scoreDisplay {
  position: absolute;
  top: 10px;
  right: 100px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  z-index: 999;
}

#restartBtn { 
  display: none;
  position: fixed; 
  top: 20px; 
  left: 20px; 
  z-index: 999999999; 
}

/* Set the body background */
body {
  margin: 0;
  overflow: hidden;
  background: skyblue;
  touch-action: manipulation;
  font-family: sans-serif;
}

/* Airplane styling (applies to all planes) */
.airplane {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: clamp(45px, 7.5vw, 75px);
  transition: transform 0.3s linear;
  z-index: 20;
  will-change: transform, left, bottom;
}

/* Arrow button styling */
.arrow-button {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  /* behind plane */
}

/* Make all arrow images the same size */
.arrow,
.arrowUp {
  width: clamp(40px, 10vw, 70px);
  height: auto;
}

/* button click feedback */
.arrow-button:active {
  transform: scale(0.92);
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

#gameOverScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: auto;

  padding: 30px 40px;

  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 48px;
  font-family: sans-serif;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 12px;

  z-index: 9999;
}

#countdown {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  font-family: sans-serif;
}

/* game wrapper */
#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* ---------------------------------------------------------- */

.line {
  position: fixed;
  background: white;
}

.v1 {
  top: 26vh;
  left: 56vw;
  width: 2px;
  height: 72.5vh;
}

.h1 {
  top: 26vh;
  left: 56vw;
  height: 2px;
  width: 2.5vw;
}

.v2 {
  top: 26vh;
  left: 58.5vw;
  width: 2px;
  height: 60vh;
}

.h2 {
  top: 86vh;
  left: 58.5vw;
  height: 2px;
  width: 17.5vw;
}

.v3 {
  top: 63vh;
  left: 76vw;
  width: 2px;
  height: 23vh;
}

.h3 {
  top: 63vh;
  left: 76vw;
  height: 2px;
  width: 2.5vw;
}

.v4 {
  top: 63vh;
  left: 78.5vw;
  width: 2px;
  height: 13vh;
}

.h4 {
  top: 76vh;
  left: 78.5vw;
  height: 2px;
  width: 17.5vw;
}

.v5 {
  top: 53vh;
  left: 96vw;
  height: 23vh;
  width: 2px;
}

.h5 {
  top: 53vh;
  left: 76vw;
  height: 2px;
  width: 20vw;
}

.v6 {
  top: 51vh;
  left: 76vw;
  height: 2vh;
  width: 2px;
}

.h6 {
  top: 51vh;
  left: 76vw;
  height: 2px;
  width: 20vw;
}

.v7 {
  top: 42vh;
  left: 96vw;
  height: 9vh;
  width: 2px;
}

.h7 {
  top: 42vh;
  left: 76vw;
  height: 2px;
  width: 20vw;
}

.v8 {
  top: 40vh;
  left: 76vw;
  height: 2vh;
  width: 2px;
}

.h8 {
  top: 40vh;
  left: 76vw;
  height: 2px;
  width: 20vw;
}

.v9 {
  top: 17vh;
  left: 96vw;
  height: 23vh;
  width: 2px;
}

.h9 {
  top: 17vh;
  left: 78.5vw;
  height: 2px;
  width: 17.5vw;
}

.v10 {
  top: 17vh;
  left: 78.5vw;
  width: 2px;
  height: 15vh;
}
.h10 {
  top: 32vh;
  left: 76vw;
  height: 2px;
  width: 2.5vw;
}

.v11 {
  top: 17vh;
  left: 76vw;
  width: 2px;
  height: 15vh;
}

.h11 {
  top: 17vh;
  left: 66vw;
  width: 10vw;
  height: 2px;
}

.v12 {
  top: 15vh;
  left: 66vw;
  width: 2px;
  height: 2vh;
}

.h12 {
  top: 15vh;
  left: 66vw;
  width: 30vw;
  height: 2px;
}

.v13 {
  top: 6vh;
  left: 96vw;
  width: 2px;
  height: 9vh;
}

.h13 {
  top: 6vh;
  left: 50vw;
  width: 46vw;
  height: 2px;
}

.v14 {
  top: 6vh;
  left: 50vw;
  width: 2px;
  height: 11vh;
}

.h14 {
  top: 17vh;
  left: 40vw;
  width: 10vw;
  height: 2px;
}

.v15 {
  top: 17vh;
  left: 40vw;
  width: 2px;
  height: 15vh;
}

.h15 {
  top: 32vh;
  left: 37.5vw;
  height: 2px;
  width: 2.5vw;
}

.v16 {
  top: 7.5vh;
  left: 37.5vw;
  width: 2px;
  height: 24.5vh;
}

.h16 {
  top: 7.5vh;
  left: 20vw;
  height: 2px;
  width: 17.5vw;
}

.v17 {
  top: 7.5vh;
  left: 20vw;
  width: 2px;
  height: 12.5vh;
}

.h17 {
  top: 20vh;
  left: 2vw;
  height: 2px;
  width: 18vw;
}

.v18 {
  top: 20vh;
  left: 2vw;
  width: 2px;
  height: 25vh;
}

.h18 {
  top: 45vh;
  left: 2vw;
  height: 2px;
  width: 17.5vw;
}

.v19 {
  top: 30vh;
  left: 19.5vw;
  width: 2px;
  height: 15vh;
}

.h19 {
  top: 30vh;
  left: 19.5vw;
  height: 2px;
  width: 1.5vw;
}

.v20 {
  top: 30vh;
  left: 21vw;
  width: 2px;
  height: 10vh;
}

.h20 {
  top: 40vh;
  left: 21vw;
  height: 2px;
  width: 17vw;
}

.v21 {
  top: 40vh;
  left: 38vw;
  width: 2px;
  height: 2vh;
}

.h21 {
  top: 42vh;
  left: 21vw;
  height: 2px;
  width: 17vw;
}

.v22 {
  top: 42vh;
  left: 21vw;
  width: 2px;
  height: 9vh;
}

.h22 {
  top: 51vh;
  left: 21vw;
  height: 2px;
  width: 17vw;
}

.v23 {
  top: 51vh;
  left: 38vw;
  width: 2px;
  height: 5vh;
}

.h23 {
  top: 56vh;
  left: 21vw;
  height: 2px;
  width: 17vw;
}

.v24 {
  top: 56vh;
  left: 21vw;
  width: 2px;
  height: 6vh;
}

.h24 {
  top: 62vh;
  left: 19.5vw;
  height: 2px;
  width: 1.6vw;
}

.v25 {
  top: 47vh;
  left: 19.5vw;
  width: 2px;
  height: 15vh;
}

.h25 {
  top: 47vh;
  left: 2vw;
  height: 2px;
  width: 17.5vw;
}

.v26 {
  top: 47vh;
  left: 2vw;
  width: 2px;
  height: 25vh;
}

.h26 {
  top: 72vh;
  left: 2vw;
  height: 2px;
  width: 18vw;
}

.v27 {
  top: 72vh;
  left: 20vw;
  width: 2px;
  height: 15vh;
}

.h27 {
  top: 87vh;
  left: 20vw;
  height: 2px;
  width: 17.5vw;
}

.v28 {
  top: 65vh;
  left: 37.5vw;
  width: 2px;
  height: 22.5vh;
}

.h28 {
  top: 65vh;
  left: 37.5vw;
  height: 2px;
  width: 2.5vw;
}

.v29 {
  top: 65vh;
  left: 40vw;
  width: 2px;
  height: 35vh;
}