/* Set the body background */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: skyblue;
}

/* Airplane styling (applies to both planes) */
.airplane {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10vw;
  transition: transform 0.3s linear;
  z-index: 20; /* Planes stay on top */
  will-change: transform, left, bottom; /* smoother animation */
}

#plane2 {
  visibility: hidden;
}

#plane3 {
  visibility: hidden;
}

/* Arrow button styling */
.arrow-button {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10; /* behind plane */
}

/* Button positions */
#arrowBtn {
  left: 40%;
  top: 90%;
  transform: translateY(-50%);
}

#arrowBtn2 {
  left: 75%;
  top: 90%;
  transform: translateY(-50%);
}

/* Make all arrow images the same size */
.arrow,
.arrowUp {
  width: 10vw;
  height: auto; /* maintain aspect ratio */
}


.houseGreen {
  position: absolute;
  left: 90%;
  top: 85%;
}

.houseYellow {
  position: absolute;
  left: 42%;
  top: 5%;
}

.houseBlue {
  position: absolute;
  left: 77%;
  top: 5%;
}